{% extends "base.html" %}


{% block content %}


<h2>
Customer Analytics
</h2>



<div class="row">



<div class="col-md-6 mb-4">

<div class="plot-container">

{{chart1|safe}}

</div>

</div>




<div class="col-md-6 mb-4">

<div class="plot-container">

{{chart2|safe}}

</div>

</div>





<div class="col-md-6 mb-4">

<div class="plot-container">

{{chart3|safe}}

</div>

</div>





<div class="col-md-6 mb-4">

<div class="plot-container">

{{chart4|safe}}

</div>

</div>





<div class="col-md-6 mb-4">

<div class="plot-container">

{{chart5|safe}}

</div>

</div>





<div class="col-md-6 mb-4">

<div class="plot-container">

{{chart6|safe}}

</div>

</div>



</div>



{% endblock %}